* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: white;
  position: relative;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms_clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  boreder: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.slick-slider {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .slick-slider {
    width: 90%;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider .slick-slide {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.slider {
  position: relative;
  padding: 0 60px;
}

.slider .slick-arrow {
  position: absolute;
  z-index: 1000;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  width: 70px;
  height: 70px;
  background: url("../img/svg/keyboard_arrow_left.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slick-arrow.slick-next {
  right: 0;
  color: transparent;
  width: 70px;
  height: 70px;
  background: url("../img/svg/keyboard_arrow_right.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  min-width: 0;
}

.slide__item {
  min-width: 0;
}

.slide__item {
  position: relative;
  opacity: 0.3;
  text-align: center;
  transform: scale(0.7);
  transition: transform 250ms linear;
}

.slider .slick-center {
  transition: transform 250ms linear;
}

.slider .slick-center {
  opacity: 1;
  transform: scale(1.3);
}
@media screen and (min-width: 450px) {
  .slider .slick-center {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 750px) {
  .slider .slick-center {
    transform: scale(2.4);
  }
}

.slide__icon {
  width: 240px;
  height: 240px;
  padding: 0 10px;
}

.slide__text {
  position: absolute;
  top: 85%;
  bottom: 0;
}
@media screen and (min-width: 420px) {
  .slide__text {
    top: 87%;
  }
}
@media screen and (min-width: 750px) {
  .slide__text {
    top: 63%;
  }
}

.logo-slider__container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 30px 0px;
  border-bottom: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
}

.log-slider__list {
  padding: 0 60px;
  margin: 0 auto;
}

.log-slider__list .slick-slide {
  margin: 0 10px;
}

.log-slider__list .slick-list {
  margin: 0 -10px;
}

.log-slider__list .slick-track {
  padding-bottom: 10px;
}

.logo-slide__item {
  height: 160px;
  border: 1px solid black;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0.4;
  background: white;
  transform: scale(0.7);
  box-shadow: 0px 2px 5px 1px gray;
  padding: 0 10px;
}
@media screen and (min-width: 375px) {
  .logo-slide__item {
    height: 200px;
  }
}
@media screen and (min-width: 420px) {
  .logo-slide__item {
    height: 250px;
  }
}
.logo-slide__item img {
  width: 100%;
  display: block;
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 375px) {
  .logo-slide__item img {
    height: 200px;
  }
}
@media screen and (min-width: 420px) {
  .logo-slide__item img {
    height: 250px;
  }
}

.log-slider__list {
  position: relative;
}

.log-slider__list .slick-arrow {
  position: absolute;
}

.log-slider__list .slick-arrow.slick-prev {
  left: -20px;
  color: transparent;
  width: 70px;
  height: 70px;
  background: url("../img/svg/keyboard_arrow_left-red.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.log-slider__list .slick-arrow.slick-next {
  right: -20px;
  color: transparent;
  width: 70px;
  height: 70px;
  background: url("../img/svg/keyboard_arrow_right-red.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.log-slider__list .slick-active {
  opacity: 0.7;
  transform: scale(0.8);
}

.log-slider__list .slick-center {
  transition: opacity 250ms linear, transform 250ms linear;
  transform: scale(1);
  opacity: 1;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: linear-gradient(hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)), url("../img/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 750px) {
  body.lock {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}
.content.lock {
  filter: blur(1px);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #3c3c3c;
  text-decoration: underline;
}

.--title__center {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

.text {
  color: grey;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 0 80px 0;
  background-color: hsla(0, 0%, 44%, 0.9);
  z-index: 999;
  opacity: 1;
  transition: top 250ms linear, opacity 250ms linear;
}
.header.active {
  top: -80px;
  opacity: 0;
}

.header__container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__body {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 750px) {
  .header__body {
    justify-content: flex-end;
    height: 60px;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 750px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.3s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 9px;
    transition: 0.3s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}

.logo {
  position: absolute;
  bottom: -30px;
  left: 0;
}
@media screen and (min-width: 750px) {
  .logo {
    bottom: -60px;
  }
}

.logo__img {
  width: 110px;
}
@media screen and (min-width: 750px) {
  .logo__img {
    width: 170px;
  }
}

.logo__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 33px;
  left: 100px;
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}
.logo__text span {
  font-size: 13px;
}
@media screen and (min-width: 750px) {
  .logo__text span {
    font-size: 15px;
  }
}
@media screen and (min-width: 750px) {
  .logo__text {
    bottom: 65px;
    left: 150px;
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: grey;
    opacity: 0.98;
    transition: 0.5s;
  }
  .header__menu.active {
    top: 0;
  }
}

.header__list {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 4;
}
@media (max-width: 750px) {
  .header__list {
    display: block;
    text-align: center;
    margin: 100px 0 0 0;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  position: relative;
  padding: 0 0 0 20px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  transition: color 350ms linear;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0px;
  height: 2px;
  background: white;
  transition: width 250ms linear;
}
.header__link:hover {
  color: rgb(0, 0, 0);
}
.header__link:hover::before {
  width: 24px;
}
@media (max-width: 750px) {
  .header__link {
    font-weight: 500;
    font-size: 23px;
    padding: 0 0 0 0;
  }
}

.--active {
  color: rgb(0, 0, 0);
}

.header__button {
  position: relative;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  background: red;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.header__button p {
  pointer-events: none;
  position: relative;
  z-index: 20;
}
.header__button:hover {
  color: black;
}
.header__button:hover .polygon {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
@media screen and (min-width: 750px) {
  .header__button {
    margin-left: 20px;
    font-size: 13px;
    padding: 10px;
  }
}

.polygon {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  -webkit-clip-path: circle(0 at right center);
          clip-path: circle(0 at right center);
  transition: -webkit-clip-path 250ms linear;
  transition: clip-path 250ms linear;
  transition: clip-path 250ms linear, -webkit-clip-path 250ms linear;
}

.hi__box {
  margin: 160px 0 0 0;
  padding: 0 0 80px 0;
}
@media (max-width: 750px) {
  .hi__box {
    padding: 0 0 40px 0;
  }
}

.hi__row {
  display: flex;
}
@media (max-width: 750px) {
  .hi__row {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }
}

.hi__body {
  flex: 1 1 auto;
  padding: 0 20px;
}
.hi__body *:last-child {
  margin-bottom: 0;
}

.hi__title {
  font-size: 40px;
  color: #3c3c3c;
  font-weight: 800;
  line-height: 113.6363636364%;
  margin: 0 0 10px 0;
}
@media (max-width: 750px) {
  .hi__title {
    font-size: 30px;
  }
}

.hi__text {
  max-width: 570px;
  line-height: 1.4;
  margin: 0 0 40px 0;
}
@media (max-width: 750px) {
  .hi__text {
    max-width: 100%;
  }
}

.hi__bth {
  position: relative;
  display: inline-flex;
  background-color: red;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 47px;
  color: white;
  font-size: 20px;
  line-height: 145%;
  transition: 1s;
  margin: 0 0 40px 0;
}
.hi__bth p {
  pointer-events: none;
  position: relative;
  z-index: 100;
}
.hi__bth:hover {
  color: black;
  background-color: palevioletred;
}
.hi__bth:hover .polygon {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.-polygon__revers {
  -webkit-clip-path: circle(0 at left center);
          clip-path: circle(0 at left center);
}

.hi__avatar {
  flex: 0 0 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid gainsboro;
}
.hi__avatar img {
  max-width: 100%;
}

.post {
  padding: 35px 0 20px 0;
  background-color: #f0f0f0;
  margin: 0 0 20px 0;
}

.head-post__row {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.post__row {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 750px) {
  .post__row {
    flex-wrap: wrap;
  }
}

.post__column {
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 15px 0;
}
@media (max-width: 750px) {
  .post__column {
    flex: 0 1 100%;
  }
}

.post__item {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.post__title {
  margin: 0 0 20px 0;
}

.post__data {
  margin: 0 0 20px 0;
}

.post__text {
  line-height: 1.4;
}

@media (max-width: 750px) {
  .works__bigbox {
    display: flex;
    overflow: auto;
  }
}

.typing__container {
  display: inline-block;
}

.section-title {
  font-size: 27px;
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  color: #3c3c3c;
  border-right: 2px solid;
  padding-right: 3px;
  animation: cursor 0.4s step-end infinite alternate, typing 1s steps(10);
  margin: 20px 0 !important;
}
@media (max-width: 750px) {
  .section-title {
    font-size: 22px;
    text-align: center;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@media (max-width: 750px) {
  .--row-margin {
    margin: 0 0 0 0 !important;
  }
}

.works__row {
  display: flex;
  align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 2px solid #f0f0f0;
}
@media (max-width: 750px) {
  .works__row {
    flex-wrap: wrap;
    flex: 0 0 90%;
    margin: 0 20px 0 0;
  }
}

.works__img {
  display: block;
  border: 1px solid rgb(203, 203, 203);
  flex: 0 0 300px;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  transform: scale(1);
}
.works__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 250ms linear;
}
.works__img img:hover {
  transform: scale(1.1);
}
@media (max-width: 750px) {
  .works__img {
    flex: 0 0 100%;
    height: 350px;
    margin-bottom: 20px;
  }
}

.works__body {
  flex: 0 1 auto;
  padding: 0 0 0 20px;
}
@media (max-width: 750px) {
  .works__body {
    padding: 0 0 0 0;
  }
}

.works__tittle {
  margin: 0 0 20px 0;
}

.works__info {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.works__date {
  font-weight: 600;
  color: white;
  line-height: 20px;
  padding: 0 5px;
  background-color: blue;
  border-radius: 8px;
}

.works__subinfo {
  padding: 0 0 0 10px;
}

.works__text {
  line-height: 1.4;
  height: auto;
  overflow: auto;
}

.footer {
  padding: 10px 0;
  background-color: gray;
  margin: 40px 0 0 0;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 15px;
  color: white;
}

.portpholio {
  padding: 110px 0 0 0;
}
@media screen and (min-width: 750px) {
  .portpholio {
    padding: 160px 0 0 0;
  }
}

.portpholio__title {
  margin: 0 0 40px 0;
}

.portpholio__row {
  display: flex;
  align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 2px solid #f0f0f0;
}
@media (max-width: 750px) {
  .portpholio__row {
    flex-wrap: wrap;
    flex: 0 0 100%;
  }
}

.portpholio__img {
  flex: 0 0 300px;
  min-height: 200px;
  border-radius: 7px;
  overflow: hidden;
}
@media (max-width: 750px) {
  .portpholio__img {
    flex: 0 0 100%;
    padding: 0 0 50% 0;
    margin: 0 0 10px 0;
  }
}

.portpholio__body {
  flex: 0 1 auto;
  padding: 0 0 0 20px;
}
@media (max-width: 750px) {
  .portpholio__body {
    padding: 0 0 0 0;
  }
}

.portpholio__tittle {
  margin: 0 0 20px 0;
}

.portpholio__info {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.portpholio__date {
  font-weight: 600;
  color: white;
  line-height: 20px;
  padding: 0 5px;
  background-color: blue;
  border-radius: 8px;
}

.portpholio__subinfo {
  padding: 0 0 0 10px;
}

.portpholio__text {
  line-height: 1.4;
  height: 115px;
  overflow: auto;
}

.photo {
  padding: 110px 0 0 0;
}
@media screen and (min-width: 750px) {
  .photo {
    padding: 160px 0 0 0;
  }
}

.photo__title {
  margin: 0 0 40px 0;
}

.photo__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 750px) {
  .photo__row {
    justify-content: center;
  }
}

.phtot__column {
  flex: 0 0 33.333%;
  padding: 0 15px;
  margin: 0 0 20px 0;
}
@media (max-width: 750px) {
  .phtot__column {
    flex: 0 0 50%;
  }
}
@media (max-width: 450px) {
  .phtot__column {
    flex: 0 0 80%;
    margin: 0 0 40px 0;
  }
}

.photo__img {
  padding: 0 0 100% 0;
  overflow: hidden;
  border-radius: 7px;
}

.backdrop {
  position: fixed;
  padding: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 51%, 0.3);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity 250ms linear, transform 250ms linear;
}
.backdrop.active {
  left: 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.backdrop.active .contact {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 15px;
  width: 100%;
}

.contact {
  padding: 30px;
  position: relative;
  display: block;
  border: 1px solid hsla(0, 0%, 1%, 0.2);
  transition: 1s;
  background-color: hsl(0, 0%, 50%);
  max-width: 600px;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  border-radius: 6px;
}
@media (max-width: 750px) {
  .contact {
    display: block;
    z-index: 10;
    transition: 1s;
  }
}
@media screen and (min-width: 750px) {
  .contact {
    background-color: hsla(0, 0%, 50%, 0.9);
  }
}

.contact__close {
  background: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
}
.contact__close:hover .close__icon {
  fill: red;
}

.close__icon {
  pointer-events: none;
  width: 32px;
  height: 32px;
  fill: white;
  transition: fill 250ms linear;
}

.contact__icon {
  width: 26px;
  height: 26px;
  fill: white;
  margin-bottom: 10px;
  transition: fill 250ms linear, color 250ms linear;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.contact__source {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3c3c3c;
  transition: fill 250ms linear, color 250ms linear;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;
}

.contacts__item {
  width: 100%;
  display: flex;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 750px) {
  .contacts__item {
    flex-basis: calc(50% - 20px);
  }
}

.contact__text {
  font-size: 17px;
  color: #3c3c3c;
  transition: fill 250ms linear, color 250ms linear;
}

.contact__link {
  width: 100%;
  text-align: center;
}
.contact__link:hover .contact__icon {
  fill: red;
}
.contact__link:hover .contact__source {
  color: red;
}
.contact__link:hover .contact__text {
  color: red;
}

.contact__close.action {
  cursor: pointer;
  color: white;
  text-align: center;
}

.contact__close {
  color: white;
  text-align: center;
}

.contact__row {
  display: flex;
  background-color: #3c3c3c;
  border-radius: 5px;
}
@media (max-width: 750px) {
  .contact__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .contact__form {
    margin: 120px 0 0 0;
  }
}

.contact__info {
  color: white;
  font-size: 19px;
  margin: 20px 0;
  text-transform: uppercase;
}

.contact__cell {
  display: inline-flex;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  color: #01579B;
}
.contact__cell:focus {
  box-shadow: 0px 1px 5px 2px inset #3c3c3c;
}

.contact__bth {
  display: inline-flex;
  margin: 80px 0 0 0;
  background-color: red;
  height: 40px;
  align-items: center;
  font-size: 20px;
  color: white;
  padding: 0 60px;
  border-radius: 5px;
}

.contact__map {
  flex: 0 1 50%;
  min-height: 450px;
}
@media (max-width: 750px) {
  .contact__map {
    flex: 0 1 100%;
    margin: 20px 0 0 0;
  }
}

.contactpage__row {
  display: flex;
  background-color: gray;
}
@media (max-width: 750px) {
  .contactpage__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .contactpage__form {
    margin: 120px 0 0 0;
  }
}

.contactpage__box {
  flex: 0 1 50%;
  text-align: center;
  align-self: center;
  padding: 0 15px;
}
@media (max-width: 750px) {
  .contactpage__box {
    flex: 0 1 100%;
    height: 500px;
  }
}

.contactpage__info {
  color: white;
  font-size: 19px;
  margin: 20px 0;
  text-transform: uppercase;
}

.contactpage__cell {
  display: inline-flex;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  color: grey;
}
.contactpage__cell:focus {
  box-shadow: 0px 1px 5px 2px inset #3c3c3c;
}

.contactpage__bth {
  display: inline-flex;
  margin: 80px 0 0 0;
  background-color: red;
  height: 40px;
  align-items: center;
  font-size: 20px;
  color: white;
  padding: 0 60px;
  border-radius: 5px;
}

.contactpage__map {
  flex: 0 1 50%;
  min-height: 450px;
}
@media (max-width: 750px) {
  .contactpage__map {
    flex: 0 1 100%;
    margin: 20px 0 0 0;
  }
}

.backdropTech {
  position: fixed;
  padding: 15px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 51%, 0.3);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity 250ms linear, transform 250ms linear;
}
.backdropTech.active {
  left: 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.backdropTech.active .modalTech {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modalTech {
  padding: 5px;
  position: relative;
  border: 1px solid hsla(0, 0%, 1%, 0.2);
  transition: 1s;
  background-color: hsl(0, 0%, 50%);
  max-width: 600px;
  width: 100%;
  height: 400px;
  transform: scale(0);
  opacity: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
  border-radius: 6px;
}
@media (max-width: 750px) {
  .modalTech {
    z-index: 10;
    transition: 1s;
  }
}
@media screen and (min-width: 750px) {
  .modalTech {
    background-color: hsla(0, 0%, 50%, 0.9);
    padding: 30px;
  }
}